/************* General Rules *************/

:root {
    --primary-color: #7d1286;
    --secondry-color: #2e1114;
    --section-padding: 25px;
    --font-size-h2: 2.75rem;
    --font-size-h3: 1.75rem;
    --font-size-p: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: #eee;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(70, 180, 230, 0.2);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(125, 18, 134, 0.7);
    border-radius: 5px;
}

::-moz-selection {
    color: #eee;
    background-color: var(--primary-color);
}

::selection {
    color: #eee;
    background-color: var(--primary-color);
}

body {
    /* NOTE: font: font-style font-variant font-weight font-size/line-height font-family; */
    font-family: "Open Sans", sans-serif;
    /* font: 400 1rem/1.625rem "Open Sans", sans-serif; */
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:active {
    position: relative;
    top: 1px;
}


/* ***My FrameWork****  */

.icon-label {
    font-size: 12px;
    display: block;
    text-align: center;
    margin-top: 5px;
}

.section-heading {
    font-size: var(--font-size-h2);
    font-weight: bold;
    margin-block: 40px;
}


/*ANCHOR: ************** Social Icons **************  */

.github {
    color: #333;
}

.codepen {
    color: #000;
}

.linkedin {
    color: #0077b5;
}

.facebook {
    color: #1877f2;
}

.twitter {
    color: #1da1f2;
}

.whatsapp {
    color: #25d366;
}

.telegram {
    color: #0088cc;
}

a:hover i,
a:focus i {
    color: var(--primary-color);
}


/* ***end of social icons***  */


/*? ***** Container *****  */

.container {
    padding-inline: 15px;
    margin-inline: auto;
}


/* ! ***small***  */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* ! ***medium***  */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* ! ***large***  */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* ***end of container***  */


/* ******* Header ******* */

header {
    background: rgba(34, 160, 250, 30%);
}

header .container {
    height: 100%;
    padding-block: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 5px rgb(34 160 195 / 15%);
}

header .container>a {
    flex-basis: 20%;
}

header .container a img {
    width: 140px;
    max-width: none;
}

nav .links .bar-icon {
    display: none;
    transition-property: color, background-color;
    transition: 0.3s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li.active a {
    background-color: var(--primary-color);
    color: #eee;
}

nav ul li a {
    margin-inline: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 700;
    color: var(--secondry-color);
    transition-property: color, background-color;
    transition: 0.3s ease-in-out;
}

nav ul li:not(:last-child) a:hover {
    background-color: var(--primary-color);
    color: #eee;
}

nav ul li:last-child {
    border-left: 3px solid #eee;
}


/* ***Burger bar icon*** */


/* ! ANCHOR: Mobile  */

@media (max-width: 767px) {
    nav .links .bar-icon {
        display: block;
        font-size: 25px;
        margin-right: 20px;
        border: 1px solid #333;
        padding: 3px 7px;
        color: var(--secondry-color);
    }
    nav .links:hover .bar-icon {
        background-color: var(--primary-color);
        color: #eee;
    }
    nav ul {
        display: none;
        position: relative;
    }
    nav ul::before {
        content: "";
        width: 0;
        height: 0;
        border: 10px solid;
        border-color: transparent transparent rgba(50, 150, 210, 0.9) transparent;
        position: absolute;
        bottom: 100%;
        right: calc(10% - 5px);
    }
    nav ul li {
        width: 100%;
    }
    nav ul li a {
        margin: 10px 0;
        width: 100%;
    }
    nav .links:hover ul {
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: rgba(50, 150, 210, 0.9);
        text-align: center;
        padding: 30px 20px;
        z-index: 100;
    }
    nav ul li:last-child {
        border-left: none;
        font-size: 20px;
    }
}


/* ******* Landing ******* */

.landing {
    padding: var(--section-padding);
    width: 100%;
    height: calc(100vh - 90px);
    background-image: url(https://i.ibb.co/TmxGdCy/landing.jpg);
    background-size: cover;
    background-position: left;
    position: relative;
    /* z-index: -1; */
}

.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #63a4ff;
    background: linear-gradient(315deg, rgba(99, 164, 255, 0.8) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(131, 234, 241, 0.5) 74%);
}

.landing .container {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    place-items: center;
    gap: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing .my-image {
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    background-color: #eee;
    transition: background-color 0.3s ease-in-out;
    flex-basis: 20%;
}

.landing .my-image:hover {
    position: relative;
    top: 1px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.landing .landing-text {
    line-height: 1.75;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.landing h1 {
    margin: 0;
    color: #fff;
    font-size: calc(var(--font-size-h2) + 0.2rem);
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 2px -1px 2px var(--primary-color);
    transition: .5s ease-in-out;
    transition-property: text-shaow, color;
}

.landing h1:hover {
    color: var(--primary-color);
    text-shadow: 2px -1px 3px #fff;
}

.landing p {
    /* width: 70%; */
    color: rgba(250, 250, 250, 1);
    font-size: var(--font-size-p);
    font-weight: 700;
}


/* ! ANCHOR: Mobile  */

@media (max-width: 480px) {
    .landing .container {
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        gap: 0;
    }
    .landing .my-image {
        width: 100px;
    }
    .landing h1 {
        margin-block: 20px;
        font-size: calc(var(--font-size-h2) - 0.75rem);
    }
    .landing p {
        font-size: calc(var(--font-size-p) - 0.6rem);
    }
}

@media (min-width:481px) and (max-width: 767px) {
    .landing .container {
        text-align: center;
    }
    .landing .my-image {
        width: 120px;
    }
    .landing h1 {
        margin-block: 20px;
        font-size: calc(var(--font-size-h2) - 0.75rem);
    }
    .landing p {
        font-size: calc(var(--font-size-p) - 0.6rem);
    }
}


/* ******* projects ******* */

.projects {
    padding-block: var(--section-padding);
    text-align: center;
    background-color: rgba(100, 180, 250, 0.15);
}

.projects .projects-holder {
    padding-block: 30px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}


/* ! ANCHOR: Mobile  */

@media (max-width: 767px) {
    .projects .projects-holder {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.projects .project-card {
    position: relative;
    overflow: hidden;
    border: 3px solid #eee;
    box-shadow: 0px 6px 7px -4px rgb(0 0 0 / 30%);
}

.projects .project-card:hover {
    box-shadow: 0px 10px 13px -7px rgba(0, 0, 0, 0.6);
}

.projects .project-card img {
    width: 100%;
    transition: transform 0.5s ease-in;
}

.projects .project-card:hover img {
    transform: scale(1.1) rotate(2deg);
}

.projects .project-card .card-text {
    width: 100%;
    background-color: rgba(34, 160, 195, 80%);
    color: #eee;
    padding: 15px 20px;
    position: absolute;
    bottom: -100%;
    transition: all 0.5s ease-in;
}

.projects .project-card:hover .card-text {
    bottom: 0;
}

.card-text h3 {
    font-size: var(--font-size-h3);
}

.card-text .card-icons {
    margin-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-text .card-icons a {
    text-align: center;
    color: #eee;
}

.card-text .card-icons i {
    font-size: 25px;
}

.card-text .card-icons a:hover {
    color: var(--primary-color);
}


/* ! ANCHOR: Mobile  */

@media (max-width: 767px) {
    .card-text h3 {
        font-size: calc(var(--font-size-h3) - 0.5rem);
    }
    .card-text .card-icons i {
        font-size: 20px;
    }
}


/* ******* Skills ******* */

.skills {
    padding-block: var(--section-padding);
    background-color: rgba(100, 180, 250, 0.25);
}

.skills h2 {
    text-align: center;
}

.skills .bars-container {
    padding-block: 36px;
}

.skills .bar-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}

.skills .bar-box i,
.skills .bar-box .java {
    flex-basis: 30%;
    text-align: center;
}

.skills .bar-box .js-icon {
    padding: 5px;
    background-color: #000;
    -webkit-clip-path: inset(5% 5%);
    clip-path: inset(10% 10%);
}

.skills .bar-box .icon-label {
    margin: 5px;
    font-size: 12px;
}

.skills .bar-box .java .icon-label {
    margin-top: 0;
    font-size: 13px;
}

.skills .bar {
    flex: 1;
    height: 30px;
    background-color: rgba(250, 250, 250, 0.5);
    border: 1px solid rgba(250, 250, 250, 0.8);
    border-radius: 10px;
    overflow: hidden;
}

.skills .bar span {
    position: relative;
    display: inline-block;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.skills .bar span::before {
    content: attr(data-width);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 10px;
    font-size: 1rem;
    color: #fff;
}


/* ! ANCHOR: Mobile  */

@media (max-width: 400px) {
    .skills .bar-box {
        flex-direction: column;
        border: 3px outset #fff;
        box-shadow: 0px 6px 7px -4px rgb(0 0 0 / 30%);
        padding: 20px;
        transition: box-shadow 0.3s ease-in-out;
    }
    .skills .bar-box:hover {
        position: relative;
        bottom: 2px;
        box-shadow: 0px 6px 7px -4px rgb(0 0 0 / 80%);
    }
    .skills .bar {
        width: 100%;
        font-size: 1.25rem;
    }
    .skills .bar-box i,
    .skills .bar-box .java {
        margin-bottom: 5px;
    }
    .skills .bar span {
        position: relative;
        display: inline-block;
        height: 100%;
        background-color: var(--primary-color);
        border-radius: 10px;
    }
    .skills .bar span::before {
        font-size: 0.85rem;
    }
}


/* ******* Contact ******* */

.contact {
    background-color: rgba(100, 180, 250, 0.15);
}

.contact .container {
    padding-block: var(--section-padding);
    text-align: center;
}


/* contact form  */

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact form input[type='text'],
.contact form input[type='email'],
.contact form textarea {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    caret-color: var(--primary-color);
}

.contact form input:focus,
.contact form textarea:focus {
    outline: 1px solid var(--primary-color);
    border: none;
}

.contact form textarea {
    resize: none;
}

.contact form input[type='submit'] {
    padding: 15px 20px;
    margin-left: auto;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    border: none;
    transition: all .3s ease-in-out;
}

.contact form input[type='submit']:hover {
    cursor: pointer;
}

.contact form input[type='submit']:focus {
    position: relative;
    top: 1px;
}


/* ! ANCHOR: Mobile  */

@media (max-width: 400px) {
    .contact h2 {
        font-size: calc(var(--font-size-h2) - 0.5rem);
    }
}

.waves {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}

.gmail-icon {
    padding: 5px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: rgba(250, 250, 250, 0.4);
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease-in;
}

.gmail-icon:hover {
    box-shadow: 0px 3px 7px 1px rgb(70 180 230 / 95%);
}


/* ******* Footer ******* */

footer {
    background-color: rgba(100, 126, 173, 65%);
    padding-block: var(--section-padding);
}

footer .container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .container p {
    flex: 1;
    margin-block: 10px;
    font-size: calc(var(--font-size-p) - 0.5rem);
}

footer .container p strong a {
    color: var(--primary-color);
}

footer .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
}

footer .social-icons li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 25px;
    font-weight: 400;
    border-radius: 50%;
    box-shadow: 0px 5px 10px -4px rgb(0 0 0 / 15%), 0px -5px 10px -4px rgb(0 0 0 / 15%);
    background-color: rgba(250, 250, 250, 0.2);
}

footer .social-icons li a:hover {
    position: relative;
    bottom: 1px;
}


/* ! ANCHOR: Mobile  */

@media (max-width: 767px) {
    footer .container {
        flex-direction: column;
    }
    footer .social-icons {
        width: 100%;
    }
}